<html>
    <body>
        <div style="font-family: sans-serif;border: 20px solid rgb(240, 240, 240);margin-left: 10%;margin-right: 10%;text-align: center;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;font-family: 'Helvetica Neue','Open Sans','Arial','sans-serif';">
            <div style="margin: 0 auto;"><img src="cid:{{cid}}"/></div>
            <div>
                <h1 style="padding:0;margin:0;font-weight:100;color:#333">SOS !</h1>
                <p style="color:#333">
                    Attention please<br>
                    <small>
                        Hurry ! check out the log for more info<br/><br/>
                        Summery<br>
                        <b>{{msg}}</b>

                        <br><br>
                        Problem<br>
                        <b>{{exception}}</b>
                    </small>
                </p>
            </div>

            <div style="padding: 5px;background-color: rgb(240, 240, 240);">
                <p style="color:#333">Please hurry !<br><small>ALITA</small><br/><small>{{time}}</small></p>
            </div>
        </div>
    </body>
</html>

