
<html>
    <body>
        <div style="font-family: sans-serif;border: 20px solid rgb(240, 240, 240);margin-left: 10%;margin-right: 10%;text-align: center;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;font-family: 'Helvetica Neue','Open Sans','Arial','sans-serif';">
            <div style="margin: 0 auto"><img src="cid:{{cid}}"/></div>
            <div>
                <h1 style="padding:0;margin:0;font-weight:100;color:#333">Hello there !</h1>
                <p style="color:#333">
                    Alita just woke up and ready for duty, all systems are good to go,<br>
                    <small>
                        Sh.. here's some info<br/><br/>
                        Service<br>
                        <b>{{info_server}}</b>

                        <br><br>
                        Database<br>
                        <b>{{database}}</b>
                    </small>
                </p>
            </div>
            <div style="padding: 5px;background-color: rgb(240, 240, 240);"><p style="color:#333">Ok, have a nice day !<br><small>ALITA</small><br/><small>{{time}}</small></p></div>
        </div>
    </body>
</html>
